/* App.css */
.header {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('bansos.png') no-repeat center center/cover;
  height: 50vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.header p {
  font-size: 1.5rem;
}


.navbar {
  background-color: #343a40;
}

.navbar-brand {
  font-size: 1.5rem;
}

.nav-link {
  color: #fff !important;
}

.card {
  background-color: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-hover:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* App.css */
.btn-animate {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-animate:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-animate {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.form-animate:focus-within {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.form-control {
  border-color: #ced4da;
  border-radius: 5px;
}

.alert {
  border-radius: 5px;
}
